{% extends "home.html" %}

{% block body %}


    
    
<h1 class="text-center sucsses"> ower rooms  </h1> 

     
      
      
<div class= "row container-fluid mx-3 ">
<div class="card" style="width: 10rem;hight:3rem;">
<img src="https://source.unsplash.com/random/10×10" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text</p>
    <a href="#" class=" btn sm btn-primary">more</a>
  </div>
</div>
   
          
<div class="card" style="width: 10rem;hight:5rem;" id=
"right sidebar">
<img src="https://source.unsplash.com/random/10×10" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text</p>
    <a href="#" class=" btn sm btn-primary">more</a>
  </div>
</div>
          
          
          
    
</div>    
      
      
      
      
<div class= "row container-fluid my-2 mx-3">
  <div class="card" style="width: 10rem;hight:3rem;">
  <img src="https://source.unsplash.com/random/10×10" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text</p>
    <a href="#" class=" btn sm btn-primary">more</a>
  </div>
</div>
   
          
    <div class="card" style="width: 10rem;hight:5rem;" id=
"right sidebar">
  <img src="https://source.unsplash.com/random/10×10" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text</p>
    <a href="#" class=" btn sm btn-primary">more</a>
  </div>
</div>
          
          
          
    
</div>  
  
        
    

    
    
    




{% endblock body %}