
{% extends "home.html" %} 

{% block blogs %}




    
    
<h1 class="text py-4" ></h1>     
{% for post in allpost %}
 
<div class="card my-4 mx-5" alt="avtar"style="card-shadow:6px 7px;">
  
  <div class="card-body">
    <img src="{{post.img}}" class="card-img-top" style="  border-radius:10px 10px;"alt="...">
    <h5 class="card-title my-3" style="font-family:serif">{{post.tital}}</h5>
    <p class="card-text">{{post.containt |truncatechars:50 }}</p>

    <figcaption class="blockquote-footer mx-5">{{post.auther}}</figcaption>
    
    
    <a href="/blogs/{{post.slug}}" class="text-primary">read more</a>
  </div>
</div>
{% endfor %}

    
    
    
{% endblock blogs %}
